.datasourceTable {
    background: #fff;
    min-height: 100%;
}
.card {
    text-align: center;
    border: none;
}
.col {
    opacity: 0.5;
    min-height: 10rem;

    &:hover {
        opacity: 1;
    }
}
.selectedCol {
    @extend .col;
    opacity: 1;
}
