.datasource {
    padding: 24;
    background: #fff;
    min-height: 100%;
}
.card {
    text-align: center;
    border: none;
}
.img {
    max-height: 100px;
    min-height: 100px;
}
.col {
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}
.selectedCol {
    @extend .col;
    opacity: 1;
}

.disabledCard {
    @extend .card;
    cursor: not-allowed;
}
