.datasource {
    background: #fff;
    min-height: 100%;
}
.card {
    border-radius: 50px;
    text-align: center;
    border: none;
}
.img {
    height: 100px;
}
.col {
    opacity: 0.5;
    &:hover {
        opacity: 1;
        border: solid 1px royalblue;
        border-radius: 50px;
    }
}
.selectedCol {
    @extend .col;
    opacity: 1;
    border: solid 1px royalblue;
    border-radius: 50px;
}

.disabledCard {
    @extend .card;
    cursor: not-allowed;
}
