.header {
    background: #fff;
    padding: 0;
    margin: 0px 16px 5px;
}
.align {
    display: flex;
    justify-content: space-between;
}
.menu {
    border-bottom: 0;
    line-height: inherit;
}
.icon {
    margin-right: 0px;
}
.menuItem {
    border-bottom: none !important;
    vertical-align: baseline !important;
}
