.start {
    padding: 24;
    background: #fff;
    min-height: 100%;
}

.step {
    padding: 24px;
}

.stepContent {
    @extend .step;
}

.stepButton {
    @extend .step;
}

.text13 {
    font-size: 13;
}
.text16 {
    font-size: 16;
}
.sticky {
    position: fixed;
    bottom: 10px;
}
